html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

#scene {
  width: 80%;
  height: 600px;
  margin: auto;
}

#vl-drop-down {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 0;
  left: 5;
}

#vl-shape-list {
  position: relative;
  display: none;
  border: 1px solid purple;
  border-top: none;
}

#header {
  padding: 7px 10px;
  border: 1px solid purple;
  background: purple;
  color: white;
}

header {
  display: block;
  padding: 20px;
}

header h1 {
  font: 300 24px sans-serif;
  color: purple;
}

#myCanvas {
  width: 100%;
  height: 100%;
  border: 1px solid purple;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li.shape {
  border-bottom: 1px solid grey;
  padding: 5px 4px;
}

li.shape:hover {
  background: #efefef;
  border-bottom: 1px solid purple;
}

footer {
  display: block;
  width: 100%;
  padding: 10px 25px;
}

.button {
  width: 130px;
  height: 40px;
  background-color: white;
  border: 1px solid purple;
  padding: 10px 15px;
  color: purple;
  font: 400 14px sans-serif;
  border-radius: 5px;
}

.button:hover {
  background-color: purple;
  color: white;
}
